In [3]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# NAIVE BAYES ON SOCIAL STATUS

In [4]:
ds = pd.read_csv("Social_Status.csv")
ds

,State,Year,Type_code,Type,Gender,Age_group,Total
0,West Bengal,2001,Social_Status,Seperated,Female,0-100+,175
1,West Bengal,2001,Social_Status,Widowed/Widower,Female,0-100+,435
2,West Bengal,2001,Social_Status,Married,Female,0-100+,3557
3,West Bengal,2001,Social_Status,Divorcee,Female,0-100+,175
4,West Bengal,2001,Social_Status,Never Married,Female,0-100+,1853
...,...,...,...,...,...,...,...
115,West Bengal,2012,Social_Status,Seperated,Male,0-100+,149
116,West Bengal,2012,Social_Status,Widowed/Widower,Male,0-100+,233
117,West Bengal,2012,Social_Status,Married,Male,0-100+,5451
118,West Bengal,2012,Social_Status,Divorcee,Male,0-100+,189
119,West Bengal,2012,Social_Status,Never Married,Male,0-100+,2658

In [6]:
ds = ds.drop(['State','Year','Type_code','Age_group'],axis='columns')
ds

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
X = ds.drop(['Gender'],axis = 'columns')
Y = ds.Gender

In [ ]:
from sklearn.model_selection import train_test_split 
X_train1, X_test1, y_train1, y_test1 = train_test_split(X, Y, test_size=0.1)

In [ ]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X_train1, y_train1)

In [350]:
y_pred = gnb.predict(X_test1)
from sklearn import metrics 
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test1, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 75.0