In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
ds = pd.read_csv("Education_Status.csv")

In [3]:
def val(x):
    if(x == 'No Education'):
        return 0
    elif(x == 'Primary'):
        return 1
    elif(x == 'Middle'):
        return 2
    elif(x == 'Matriculate/Secondary'):
        return 3
    elif(x == 'Hr. Secondary/Intermediate/Pre-Universit'):
        return 4
    elif(x == 'Diploma'):
        return 5
    elif(x == 'Graduate'):
        return 6
    elif(x == 'Post Graduate and Above'):
        return 7
    else: return 8

In [4]:
cataegory = pd.Series([]) 
for ind,row in ds.iterrows():
    ds.loc[ind,"Cataegory"] = val(ds.loc[ind,"Type"])
ds = ds.astype({"Cataegory": int})

In [5]:
useful_Data = ds.drop(['State','Year','Type_code','Type','Age_group'],axis='columns')
useful_Data = useful_Data[['Cataegory','Total','Gender']]
useful_Data

     Cataegory  Total  Gender
0            4    392  Female
1            5    116  Female
2            0   1989  Female
3            7     38  Female
4            2   1222  Female
..         ...    ...     ...
187          1   2983    Male
188          0   1096    Male
189          2   2467    Male
190          6    242    Male
191          3   1260    Male

[192 rows x 3 columns]

In [9]:
x1 = useful_Data.drop(['Gender'],axis='columns')
y1 = useful_Data.Gender

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x1,y1,test_size=0.1)

In [11]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [12]:
y_pred = gnb.predict(x_test)
from sklearn import metrics 
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 80.0